.navbar:before {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(24, 18, 19);
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
  text-decoration: none;
  color: black;

}

.navbar__link {
  display:flex;
  text-decoration: none;
  color:black;
  text-align: center;
  justify-content: space-evenly;
  padding: .5rem;
  font-family: Optima;
  font-size: 20px;
}

.navbar__link:hover {
  background-color: goldenrod;
  padding: .5rem;
}

.navbar__item:first-child > .navbar__link {
  font-weight: bold !important;
  
}

.navbar__item:last-child > .navbar__link {
  font-weight: bold;
  background-color: goldenrod;
  
}

.navbar__item:last-child > .navbar__link:hover {
  font-weight: bold;
  background-color:black;
  
}
