.map {
    height:75em;
    width: 125em;
    display:flex;
    justify-content: center;
  }
  .searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #060b26;
  }
